<mat-card class="cardWithShadow">
  <mat-card-content>
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center m-b-24">
      <!-- Filtro -->
      <form [formGroup]="filterForm" class="d-flex align-items-center gap-16">
        <mat-form-field appearance="outline">
          <mat-label>Año</mat-label>

          <mat-select formControlName="year">
            <mat-option *ngFor="let year of years" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-stroked-button
          color="primary"
          type="button"
          (click)="actualizarListaCotizaciones()"
        >
          <i-tabler name="refresh" class="icon-18 m-r-4"></i-tabler>
          Refresh
        </button>
      </form>

      <!-- Formulario nueva cotización -->
      <app-cotizacion-form
        [isEditMode]="false"
        [cotizacionExistente]="null"
        (cotizacionGuardada)="actualizarListaCotizaciones()"
      >
      </app-cotizacion-form>
    </div>
    <!-- Lista -->
    <app-lista-cotizaciones
      [year]="selectedYear"
      [refreshTrigger]="refreshTrigger"
      (editarCotizacionEvent)="editarCotizacion($event)"
    >
    </app-lista-cotizaciones>
  </mat-card-content>
</mat-card>
