<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title> Inventario por Categoría </mat-card-title>
    <mat-card-subtitle> Distribución de existencias </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    @if (productos().length === 0) {
      <div class="no-data-message">No hay datos de productos disponibles</div>
    }

    <apx-chart
      [series]="chartConfig.series"
      [chart]="chartConfig.chart"
      [plotOptions]="chartConfig.plotOptions"
      [dataLabels]="chartConfig.dataLabels"
      [legend]="chartConfig.legend"
      [tooltip]="chartConfig.tooltip"
      [xaxis]="chartConfig.xaxis"
      [colors]="chartConfig.colors"
      [stroke]="chartConfig.stroke"
    >
    </apx-chart>
  </mat-card-content>
</mat-card>
