<div *ngIf="currentUser">
  <div class="w-100 text-center">
    <h2>Bienvenido, {{ currentUser.name }}</h2>
  </div>

  <div class="alert alert-info">
    <p><strong>ID:</strong> {{ currentUser.id }}</p>
    <p><strong>Email:</strong> {{ currentUser.email }}</p>
    <p><strong>Token:</strong> {{ accessToken }}</p>
    <p><strong>Refresh Token:</strong> {{ refreshToken }}</p>
    <p><strong>Expires at:</strong> {{ expiresAtFormatted }}</p>
    <p><strong>Refresh in:</strong> {{ refreshInFormatted }}</p>
    <button mat-flat-button color="primary" (click)="logout()">
      Cerrar sesión
    </button>
  </div>
</div>

<div *ngIf="!currentUser || !currentUser.name">
  <p>No hay usuario logueado</p>
</div>
