<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title
      >Congratulations {{ currentUser?.full_name }}
    </mat-card-title>
    <!-- <mat-card-subtitle>You have done 38% more sales</mat-card-subtitle> -->
  </mat-card-header>

  <mat-card-content class="position-relative">
    @for (stat of stats(); track stat.id) {
      <div class="d-flex align-items-center gap-16 m-t-24">
        <span
          class="text-{{ stat.color }} bg-light-{{
            stat.color
          }} rounded-circle icon-46 d-flex align-items-center justify-content-center"
        >
          <i-tabler name="{{ stat.icon }}" class="icon-22 d-flex"></i-tabler>
        </span>
        <div>
          <h6 class="f-s-16 f-w-600">{{ stat.title }}</h6>
          <span class="f-s-14">{{ stat.subtitle }}</span>
        </div>
      </div>
    }

    <img
      src="assets/images/backgrounds/man-working-on-laptop.png"
      alt="welcome-bg"
      class="congrats-bg d-none d-lg-flex"
    />
  </mat-card-content>

  <mat-divider></mat-divider>
</mat-card>
